# Backend -----
# Byte-compiled / optimized / DLL files
phageplotter-server/__pycache__/
phageplotter-server/*.py[cod]
phageplotter-server/*$py.class

# Distribution / packaging
phageplotter-server/.Python
phageplotter-server/build/
phageplotter-server/develop-eggs/
phageplotter-server/dist/
phageplotter-server/downloads/
phageplotter-server/eggs/
phageplotter-server/.eggs/
phageplotter-server/lib/
phageplotter-server/lib64/
phageplotter-server/parts/
phageplotter-server/sdist/
phageplotter-server/var/
phageplotter-server/wheels/
phageplotter-server/pip-wheel-metadata/
phageplotter-server/share/python-wheels/
phageplotter-server/*.egg-info/
phageplotter-server/.installed.cfg
phageplotter-server/*.egg
phageplotter-server/MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
phageplotter-server/*.manifest
phageplotter-server/*.spec

# Installer logs
phageplotter-server/pip-log.txt
phageplotter-server/pip-delete-this-directory.txt

# Unit test / coverage reports
phageplotter-server/htmlcov/
phageplotter-server/.tox/
phageplotter-server/.nox/
phageplotter-server/.coverage
phageplotter-server/.coverage.*
phageplotter-server/.cache
phageplotter-server/nosetests.xml
phageplotter-server/coverage.xml
phageplotter-server/*.cover
phageplotter-server/*.py,cover
phageplotter-server/.hypothesis/
phageplotter-server/.pytest_cache/

# Translations
phageplotter-server/*.mo
phageplotter-server/*.pot

# Django stuff:
phageplotter-server/*.log
phageplotter-server/local_settings.py
phageplotter-server/db.sqlite3
phageplotter-server/db.sqlite3-journal

# Flask stuff:
phageplotter-server/instance/
phageplotter-server/.webassets-cache

# Scrapy stuff:
phageplotter-server/.scrapy

# Sphinx documentation
phageplotter-server/docs/_build/

# PyBuilder
phageplotter-server/target/

# Jupyter Notebook
phageplotter-server/.ipynb_checkpoints

# IPython
phageplotter-server/profile_default/
phageplotter-server/ipython_config.py

# pyenv
phageplotter-server/.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
phageplotter-server/__pypackages__/

# Celery stuff
phageplotter-server/celerybeat-schedule
phageplotter-server/celerybeat.pid

# SageMath parsed files
phageplotter-server/*.sage.py

# Environments
phageplotter-server/.env
phageplotter-server/.venv
phageplotter-server/env/
phageplotter-server/venv/
phageplotter-server/ENV/
phageplotter-server/env.bak/
phageplotter-server/venv.bak/

# Spyder project settings
phageplotter-server/.spyderproject
phageplotter-server/.spyproject

# Rope project settings
phageplotter-server/.ropeproject

# mkdocs documentation
phageplotter-server/site

# mypy
phageplotter-server/.mypy_cache/
phageplotter-server/.dmypy.json
phageplotter-server/dmypy.json

# Pyre type checker
phageplotter-server/.pyre/

# Front-End ----- 
### react ###
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontwebpage/node_modules
frontwebpage/.pnp
frontwebpage/.pnp.js

# testing
frontwebpage/coverage

# production
frontwebpage/build

# misc
frontwebpage/.DS_Store
frontwebpage/.env.local
frontwebpage/.env.development.local
frontwebpage/.env.test.local
frontwebpage/.env.production.local

frontwebpage/npm-debug.log*
frontwebpage/yarn-debug.log*
frontwebpage/yarn-error.log*
